passagem/projetos/validaaparelhowebservice/WebContent/wsdl/WSDL/validaaparelhoserviceSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:aparelho="http://br.com.semparar/validaaparelhoservice/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="validaaparelhoservice" targetNamespace="http://br.com.semparar/validaaparelhoservice/">
  <wsdl:types>
    <xsd:schema xmlns:Q1="http://nostop.com.br/domain" xmlns:ap="http://br.com.semparar/model/aparelho_semparar" targetNamespace="http://br.com.semparar/validaaparelhoservice/">

            <xsd:import namespace="http://nostop.com.br/domain" schemaLocation="../XSD/aparelho_semparar.xsd"/>
            <xsd:element name="validaaparelho">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="in" type="Q1:aparelho_semparar"/>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="validaaparelhoResponse">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="out" type="Q1:aparelho_semparar_validation_result"/>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="validaaparelhoRequest">
    <wsdl:part element="aparelho:validaaparelho" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="validaaparelhoResponse">
    <wsdl:part element="aparelho:validaaparelhoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="validaaparelhoservice">
    <wsdl:operation name="validaaparelho">
      <wsdl:input message="aparelho:validaaparelhoRequest"/>
      <wsdl:output message="aparelho:validaaparelhoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="validaaparelhoserviceSOAP" type="aparelho:validaaparelhoservice">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="validaaparelho">
  		<soap:operation soapAction="http://br.com.semparar/validaaparelhoservice/validaaparelho"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="validaaparelhoservice">
    <wsdl:port binding="aparelho:validaaparelhoserviceSOAP" name="validaaparelhoserviceSOAP">
      <soap:address location="http://localhost:8080/validaaparelhowebservice/services/validaaparelhoserviceSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
