passagem/contracts/wsdl/registrapassagemservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://http://nostop.com.br/registrapassagemservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="registrapassagemservice" targetNamespace="http://http://nostop.com.br/registrapassagemservice/">
  <wsdl:types>
    <xsd:schema
    	targetNamespace="http://http://nostop.com.br/registrapassagemservice/"
    	xmlns:Q1="http://http://nostop.com.br/domain/passagem_pedagio_semparar">
    	<xsd:import schemaLocation="../xsd/passagem_pedagio_semparar.xsd" namespace="http://http://nostop.com.br/domain/passagem_pedagio_semparar"></xsd:import>
    	<xsd:element name="registraPassagem">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="in" type="Q1:PassagemEvento" />
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="registraPassagemResponse">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="out" type="Q1:PassagemEvento" />
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="registraPassagemRequest">
    <wsdl:part element="tns:registraPassagem" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="registraPassagemResponse">
    <wsdl:part element="tns:registraPassagemResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="registrapassagemservice">
    <wsdl:operation name="registraPassagem">
      <wsdl:input message="tns:registraPassagemRequest"/>
      <wsdl:output message="tns:registraPassagemResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="registrapassagemserviceSOAP"
  	type="tns:registrapassagemservice">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="registraPassagem">
  		<soap:operation
  			soapAction="http://http://nostop.com.br/registrapassagemservice/registraPassagem" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="registrapassagemservice">
    <wsdl:port binding="tns:registrapassagemserviceSOAP" name="registrapassagemserviceSOAP">
      <soap:address location="http://www.nostop.com.br/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
